@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dark-mode {
    overflow-x: hidden;
    background-image: url('Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 100%;
    height: auto;
}

.light-mode {
    overflow-x: hidden;
    background-image: url('bbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    color: #000;
    width: 100%;
    height: auto;
}

.conteiner-perfil {
    width: 500px;
    height: 280px;
    border: none;
    margin: auto;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-div {
    width: 80px;
    height: 80px;
    border: 50%;
    background-image: url('Avatar.png');
    background-repeat: no-repeat;
    background-size: cover; object-fit: cover;
    margin: auto;
    margin-top: 50px;
}

.nome-autor {
    width: auto;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
}

.tema {
    width: 100px;
    height: auto;
    border: none;
    border-radius: 13px;
    transform: translate(199px, -40PX);
}

#mudartema-btn {
    width: 100px;
    height: 34px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: 0 8px;
    background: transparent; 
    border-radius: 20px;
    cursor: pointer;
    justify-content: flex-start; 
}

#mudartema-btn.alinhar-direita {
    justify-content: flex-end;
}

#bar {
    display: flex;
    transform: rotate(90deg); 
    font-size: 20px;
    margin: 0;
    color: #fff;
}


.hrefs {
    width: 500px;
    height: 600px;
    margin: auto;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 8px;
    width: 500px;
    height: 50px;
    transform: translateY(-40px);
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.social-icons {
    width: auto;
    height: 50px;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-70px);
    flex-direction: row;
    gap: 40px;
}

.logo-instagram {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.logo-linkedin {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.logo-github {
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: flex;
    filter: brightness(0) invert(1); 
}